.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url("./img/background.jpg") center center/cover no-repeat;
  background-attachment: fixed;
  position: relative;
}

.quote-wrapper {
  font-family: "Gelasio", serif;
  max-width: 800px;
  margin: 10px 30px;
  padding: 25px;
  background: linear-gradient(135deg, #ffffff, #fdf3e0);
  border: 1px solid #192913;
  color: #192913;
}

.quote--border-left {
  border-left-width: 10px;
  border-left-color: #ccba78;
}

.quote-text {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 2rem;
}

.quote-text:not(:last-child) {
  margin-bottom: 1em;
}

.quote-text--author {
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.quote-text--quoted::before {
  content: "\201c";
  font-size: 120px;
  color: #ccba78;
  display: block;
}

@media (max-width: 768px) {
  .quote-section {
    height: 100vh;
  }
}
