.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 50%;
  color: #4b6043;
}
.contact {
  display: flex;
  margin-bottom: 20px;
}

.contact-picture {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-name {
  text-align: left;
  font-size: 1.3rem;
}

.contact-phone {
  margin-top: 5px;
  font-size: 1.3rem;
  color: #000;
  text-align: start;
}
