.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: #e9e9eb; */
  background: linear-gradient(135deg, #ffffff, #fdf3e0);
  color: #4b6043;
}

.about-container {
  margin: 0 auto;
  padding: 7rem 0;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}
.introText {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.flex-wrapper {
  display: flex;
  padding: 60px 0;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  overflow: hidden;
  position: relative;
}
.heart-overlay {
  width: 100%;
  height: auto;
}
.round-foto {
  position: absolute;
  width: 55%;
  border-radius: 50%;
}

.about-info {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
}

.about-info:first-child {
  align-items: flex-start;
  text-align: right;
}

.about-info:last-child .socials {
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .flex-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .about-info:last-child .socials {
    justify-content: center;
  }
  .picture {
    margin: 20px 0;
  }
}
