.personal-container {
  padding: 0 2rem;
  color: #4b6043;
}

.personal-name {
  font-family: "Dancing Script", cursive;
  font-size: 2.3rem;
  padding: 10px 0;
}

.personal-text {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.personal-socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 10px auto 0 auto;
}

.personal-social {
  color: #4b6043;
  font-size: 2.5rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .personal-text {
    text-align: justify;
  }
  .personal-socials {
    justify-content: center;
  }
  .personal-name {
    text-align: center;
  }
  .personal-social {
    font-size: 3rem;
    padding: 1rem;
  }
}
